SNMP_VERSION=2c
SNMP_COMMUNITY=change-this-community
SNMP_BASE_OID=.1.3.6.1.4.1.8072.9999.4
SNMP_TIMEOUT=2
SNMP_RETRIES=1

NODES=(
    "master|MASTER_IP_OR_127.0.0.1|1161"
    "slave1|SLAVE1_IP|1161"
    "slave2|SLAVE2_IP|1161"
)
